/*================================================
All Products Area CSS
=================================================*/
.all-products-area {
  padding-bottom: 30px;
}
.tab {
  .tabs_item {
    display: none;

    &:first-child {
      display: block;
    }
  }
  .tabs_item_best {
    display: none;

    &:first-child {
      display: block;
    }
  }
  .tabs_item_trending {
    display: none;

    &:first-child {
      display: block;
    }
  }
  .tabs_item_popular {
    display: none;

    &:first-child {
      display: block;
    }
  }
  .tabs_item_special {
    display: none;

    &:first-child {
      display: block;
    }
  }
}
.products-category-tab {
  .tabs {
    list-style-type: none;
    margin-bottom: 40px;
    text-align: center;
    background-color: #fcfbfb;
    padding: 15px;

    li {
      display: inline-block;
      margin: 0 10px;

      .tabs-nav-text,
      a {
        display: inline-block;
        font-size: 18px;
        position: relative;
        padding-left: 18px;
        color: #858585;
        cursor: pointer;

        .dot {
          position: absolute;
          top: 7px;
          left: 0;
          width: 12px;
          height: 12px;
          border: 1px solid #858585;
          transition: $transition;

          &::before {
            position: absolute;
            top: 0;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            background: #858585;
            margin: 1px;
            transition: $transition;
          }
        }
        &:hover,
        &:focus {
          color: $black-color;

          .dot {
            border-color: $black-color;

            &::before {
              background: $black-color;
            }
          }
        }
      }
      &.current {
        .tabs-nav-text,
        a {
          color: $black-color;

          .dot {
            border-color: $black-color;

            &::before {
              background: $black-color;
            }
          }
        }
      }
    }
    &.without-bg {
      padding: 0;
      background-color: transparent;
    }
  }
}
.single-product-box {
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  .product-image {
    position: relative;

    img {
      width: 100%;

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      position: absolute;
      top: 10px;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: $transition;

      li {
        margin-bottom: 8px;

        a {
          width: 40px;
          height: 40px;
          line-height: 42px;
          background-color: $white-color;
          color: $black-color;
          border-radius: 50%;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

          &:hover,
          &:focus {
            color: $white-color;
            background-color: $black-color;
          }
          &.disabled {
            cursor: not-allowed;
            background-color: $white-color !important;
            color: $black-color !important;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .sale-tag {
      position: absolute;
      top: 10px;
      left: 10px;
      background: #ff2d2d;
      color: $white-color;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      z-index: 2;
    }
    #timer {
      position: absolute;
      left: 0;
      text-align: center;
      right: 0;
      margin: 0 auto;
      bottom: 15px;

      div {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 8px 15px;
        color: $black-color;
        border-radius: 5px;
        font: {
          size: 18px;
          weight: 600;
        }
        span {
          display: block;
          font: {
            size: 13px;
            weight: normal;
          }
          color: $paragraph-color;
        }
      }
    }
  }
  .product-content {
    margin-top: 20px;

    h3 {
      font-size: 16px;
      margin-bottom: 0;

      a {
        color: $black-color;

        &:hover,
        &:focus {
          color: $black-color;
        }
      }
    }
    .product-price {
      margin: {
        top: 10px;
        bottom: 10px;
      }
      span {
        font-size: 18px;
        display: inline-block;
      }
      .old-price {
        margin-right: 5px;
        color: #858585;
        font-size: 15px;
        text-decoration: line-through;
      }
    }
    .rating {
      margin-bottom: 12px;
      color: #eac11d;
      i {
        margin: 0 2px;
      }
    }
    .btn {
      display: block;
      width: 100%;
    }
  }
  &:hover,
  &:focus {
    .product-image {
      img {
        &:nth-child(2) {
          opacity: 1;
          visibility: visible;
        }
      }
      ul {
        right: 10px;
        opacity: 1;
        visibility: visible;
      }
    }
    .product-content {
      .btn-light {
        background-color: $black-color;
        color: $white-color;
      }
    }
  }
}
.all-products-slides {
  &.owl-theme {
    .owl-nav {
      margin-top: 0;

      [class*='owl-'] {
        position: absolute;
        left: -5px;
        top: 0;
        height: 62.5%;
        width: 34px;
        background-color: #dedddc;
        font-size: 20px;
        transition: $transition;
        outline: 0;
        border-radius: 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        color: $black-color;

        &:hover {
          background-color: $black-color;
          color: $white-color;
        }
        &.owl-next {
          left: auto;
          right: -5px;
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    &:hover {
      .owl-nav {
        [class*='owl-'] {
          left: -18px;
          opacity: 1;
          visibility: visible;

          &.owl-next {
            left: auto;
            right: -18px;
          }
        }
      }
    }
  }
}
